* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --max-width: 1140px;
    --medium-width: 1050px;
    --small-width: 900px;
    --padding-container: 1.5rem;
    --azure: #0084FD;
    --uranian-blue: #B5DDFF;
    --tropical-indigo: #9792E4;
    --jet: #333333;
    --xanthous: #FDC15F;
}

body {
    font-family: 'Roboto', sans-serif;
}

ol, ul {
    list-style: none;
}

p {
    line-height: 1.8;
}

a {
    text-decoration: none;
}

.btn {
    width: max-content;
}

.btn a {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 1em;
}

.btn_large a {
    display: inline-block;
    padding: 0.5em 2em;
    border-radius: 1.5em;
}

/* nav */

header {
    background-color: var(--azure);
}

nav {
    max-width: var(--max-width);
    margin-inline: auto;
    padding-inline: var(--padding-container);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 1rem 0;
}

.logo a {
    height: 100%;
    display: block;
}

.logo img {
    display: block;
}

.nav_ul {
    display: flex;
    gap: 1rem;
}

.nav_li a {
    display: block;
    padding: 0.5em;
    color: white;
}

.nav_li a:hover {
    text-decoration: underline;
}

.btn a {
    background-color: white;
    color: #333333;
}

.nav_li.btn a:hover {
    text-decoration: none;
    background-color: whitesmoke;
    box-shadow: 2px 2px 3px grey;
}

.nav_bars {
    display: none;
}

.nav_bars a {
    font-size: 2rem;
    color: white;
}

@media (max-width: 810px) {

    .nav_ul {
        display: none;
    }

    .nav_bars {
        display: block;
    }
}

/* jumbo */

.jumbo_bg {
    background-color: white;
}

.jumbo_container {
    max-width: var(--max-width);
    margin-inline: auto;
    padding-top: 3rem;
    padding-bottom: 6rem;
    padding-inline: var(--padding-container);
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.jumbo_item {
    flex: 0 1 calc((100% - 3rem) / 3);
    border-radius: 1.5rem;
    padding-top: 2.5rem;
    padding-inline: 1rem;
    text-align: center;
    background-color: var(--uranian-blue);
}

.jumbo_item.big {
    flex: 0 0 calc((100% + 1.5rem) / 3 * 2 - 1.5rem);
    display: flex;
    flex-wrap: wrap;
    text-align: start;
}

.jumbo_item h2 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    color: var(--azure);
}

.jumbo_item p {
    margin-bottom: 2rem;
    color: #333333;
}

.jumbo_info {
    flex: 0 0 50%;
    margin-bottom: 2rem;
}

.jumbo_info .btn_large {
    font-size: 20px;
}

.jumbo_info .btn_large a {
    letter-spacing: 3px;
    background-color: var(--azure);
    color: white;
}

.jumbo_info .btn_large a:hover {
    background-color: #2d9aff;
    box-shadow: 2px 2px 3px grey;
}

.jumbo_img {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.jumbo_img img {
    display: block;
    height: 250px;
}

.jumbo_item .icon i {
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
    color: var(--azure);
}

@media (max-width: 810px) {
    .jumbo_info {
        flex: 0 0 100%;
    }
}

@media (max-width: 665px) {
    .jumbo_item {
        flex: 0 0 calc(50% - 0.75rem);
    }

    .jumbo_item.big {
        flex: 0 0 100%;
    }
}

@media (max-width: 445px) {
    .jumbo_item {
        flex: 0 0 100%;
    }
}

@media (max-width: 375px) {
    .jumbo_item.big {
        justify-content: center;
    }
}

/* planning */

.planning_bg {
    background-color: var(--tropical-indigo);
    padding-top: 8rem;
    padding-bottom: 3.5rem;
}

.planning_container {
    max-width: var(--small-width);
    margin-inline: auto;
    padding-inline: var(--padding-container);
    gap: 4rem;
    display: flex;
    flex-wrap: wrap;
}

.strategy {
    flex: 0 0 calc(50% - 2rem);
}

.strategy .planning_img {
    margin-bottom: 12rem;
}

.strategy .planning_img img {
    width: 100%;
}

.strategy>h2 {
    font-size: 2.2rem;
    margin-bottom: 4rem;
    color: white;
}

.strategy>p {
    color: white;
}

.developement {
    flex: 0 0 calc(50% - 2rem);
    align-self: flex-end;
    text-align: center;
    padding: 2rem;
    border-radius: 3rem;
    background-color: white;
    color: var(--jet);
}

.developement .planning_img {
    margin-bottom: 1rem;
}

.developement .planning_img img {
    width: 80%;
}

.developement>h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.developement>p {
    margin-bottom: 2rem;
}

.developement .icon a {
    display: inline-block;
    width: max-content;
}

.developement .icon i{
    font-size: 3rem;
    color: var(--tropical-indigo);
}

@media (max-width: 900px) {
    .strategy .planning_img {
        margin-bottom: 6rem;
    }
}

@media (max-width: 810px) {
    .planning_bg {
        padding-top: 4rem;
    }

    .planning_container {
        gap: 2rem;
    }

    .strategy, .developement {
        flex: 0 0 100%;
    }

    .strategy h2 {
        font-size: 3.5rem;
    }
}

@media (max-width: 555px) {

    .strategy .planning_img img {
        margin-bottom: 4rem;
    }

    .strategy>h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}

/* testimonials */

.testimonials_bg {
    max-width: var(--max-width);
    margin-inline: auto;
    text-align: center;
    padding: 4rem 0rem 7rem;
}

.testimonials_container {
    padding-inline: var(--padding-container);
}

.testimonials_container>h4 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.testimonials_container>h2 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    color: var(--tropical-indigo);
}

.testimonials_container>p {
    max-width: var(--small-width);
    margin-inline: auto;
    margin-bottom: 2.5rem;
    color: var(--jet);
}

.card {
    display: flex;
    align-items: center;
    padding: 2rem 1.5rem 2.5rem;
    margin-bottom: 2rem;
    text-align: start;
    border-radius: 2.5rem;
    background-color: var(--tropical-indigo);
    color: white;
}

.card_img {
    margin-inline-end: 3rem;
}

.card_img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.card_text p {
    margin-bottom: 1.5rem;
}

.card_text p i {
    font-size: 1.2rem;
}

@media (max-width: 555px) {
    .card {
        text-align: center;
        flex-wrap: wrap;
    }

    .card_img {
        margin: 0 0 1rem;
        flex: 0 0 100%;
    }
}

/* benefits */

.benefits_bg {
    padding: 4rem 0;
    background-color: var(--tropical-indigo);
}

.benefits_container {
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-inline: var(--padding-container);
}

.benefits_container>h2 {
    flex: 0 0 100%;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    color: white
}

.benefit {
    flex: 0 0 calc((100% - 3rem) / 3);
    padding: 3rem 2rem 2rem;
    border-radius: 2rem;
    background-color: white;
}

.benefit>h4 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
    color: var(--tropical-indigo);
}

.benefit>h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--tropical-indigo);
}

.benefit>p {
    color: var(--jet);
    margin-bottom: 1.5rem;
}

.benefit .btn a {
    letter-spacing: 3px;
    padding: 0.5em 2.5em;
    background-color: var(--tropical-indigo);
    color: white;
}

.benefit .btn a:hover {
    background-color: #a8a4e2;
    box-shadow: 2px 2px 3px grey;
}

@media (max-width: 810px) {
    .benefit {
        flex: 0 0 calc(50% - 0.75rem);
    }
}

@media (max-width: 555px) {
    .benefit {
        flex: 0 0 100%;
    }
}

@media (max-width: 375px) {
    .benefits_container>h2 {
        font-size: 2rem;
    }
}

/* about us */

.about_us_bg {
    padding: 5.5rem 0 4rem;
}

.about_us_container {
    max-width: var(--medium-width);
    margin-inline: auto;
    padding-inline: 4rem;
    display: flex;
}

.info {
    flex: 1 0 0;
    margin-inline-end: 6rem;
}

.info>h2 {
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
    color: var(--tropical-indigo);
}

.info p {
    font-size: 18px;
    margin-bottom: 2rem;
    line-height: 2;
}

.profile {
    flex: 0 0 30%;
}

.profile_img {
    width: max-content;
    margin-bottom: 1.5rem;
    position: relative;
}

.profile_img img {
    display: block;
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
}

.profile_img>i {
    font-size: 4.5rem;
    font-weight: 900;
    color: var(--tropical-indigo);
    position: absolute;
    top: 0;
    right: 0;
}

.profile>p {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 2rem;
    color: var(--tropical-indigo);
}

.profile>.btn a {
    background-color: var(--tropical-indigo);
    color: white;
}

.profile>.btn a i {
    margin-inline-end: 5px;
}

.profile>.btn a:hover {
    background-color: #a8a4e2;
    box-shadow: 2px 2px 3px grey;
}

@media (max-width: 740px) {
    .about_us_container {
        padding-inline: 1.5rem;
        flex-wrap: wrap;
    }

    .info {
        flex: 0 0 100%;
        margin: 0;
    }

    .profile {
        flex: 0 0 60%;
    }
}

@media (max-width: 445px) {
    .profile {
        flex: 0 0 100%;
    }
}

/* get started */

.get_started_bg {
    padding: 4rem 0;
    background-color: var(--tropical-indigo);
}

.get_started_container {
    max-width: 650px;
    margin-inline: auto;
    padding-inline: var(--padding-container);
    text-align: center;
}

.get_started_container>h4 {
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 1.5rem;
    color: rgba(355, 355, 355, 0.8);
}

.get_started_container>h3 {
    font-size: 2.8em;
    margin-bottom: 2.5rem;
    color: white;
}

.get_started_container>h2 {
    font-size: 5em;
    margin-bottom: 2rem;
    color: var(--xanthous);
}

.get_started_container>p {
    line-height: 1.8;
    margin-bottom: 2rem;
    color: whitesmoke;
}

.get_started_container .btn {
    display: inline-block;
    margin-bottom: 2rem;
}

.get_started_container .btn a {
    font-size: 18px;
    font-weight: 900;
    padding: 1.5em 5em;
    border-radius: 2em;
    color: var(--tropical-indigo);
}

.get_started_container .btn a:hover {
    background-color: whitesmoke;
    box-shadow: 2px 2px 3px grey;
}

.get_started_container .copyright {
    color: white;
}

.get_started_container .copyright a {
    color: white;
}

.get_started_container .copyright a:hover {
    text-decoration: underline;
}

@media (max-width: 460px) {
    .get_started_container {
        font-size: 12px;
    }
}

/* footer */

footer {
    background-color: var(--jet);
    padding: 2.5rem 0;
}

.footer_container {
    max-width: 480px;
    margin-inline: auto;
    padding-inline: var(--padding-container);
    text-align: center;
    color: whitesmoke;
}

.footer_container p {
    line-height: 1.8;
    margin-bottom: 3.5rem;
}

.footer_links {
    line-height: 1.8;
}

.footer_links span a{
    color: var(--tropical-indigo);
    text-decoration: underline;
}

@media (max-width: 460px) {
    footer {
        font-size: 12px;
    }
}
