* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --max-width: 1140px;
    --azure: #0084FD;
    --uranian-blue: #B5DDFF;
    --tropical-indigo: #9792E4;
    --jet: #333333;
    --xanthous: #FDC15F;
}

body {
    font-family: 'Roboto', sans-serif;
}

ol, ul {
    list-style: none;
}

.btn a {
    display: block;
    padding: 0.5em 1em;
    border-radius: 1em;
}

.btn_large a {
    display: block;
    padding: 0.5em 2em;
    border-radius: 1.5em;
}

a {
    text-decoration: none;
}

/* nav */

header {
    background-color: var(--azure);
}

nav {
    max-width: var(--max-width);
    margin-inline: auto;
    padding-inline: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 1rem 0;
}

.logo a {
    height: 100%;
    display: block;
}

.logo img {
    display: block;
}

.nav_ul {
    display: flex;
    gap: 1rem;
}

@media (max-width: 810px) {
    .nav_ul {
        display: none;
    }
}

.nav_li a {
    display: block;
    padding: 0.5em;
    color: white;
}

.nav_li a:hover {
    text-decoration: underline;
}

.btn a {
    background-color: white;
    color: #333333;
}

.nav_li.btn a:hover {
    text-decoration: none;
    background-color: whitesmoke;
}

.nav_bars {
    display: none;
}

.nav_bars a {
    font-size: 2rem;
    color: white;
}

@media (max-width: 810px) {
    .nav_bars {
        display: block;
    }
}

/* jumbo */

.jumbo_bg {
    background-color: white;
}

.jumbo_container {
    max-width: var(--max-width);
    margin-inline: auto;
    padding-top: 3rem;
    padding-bottom: 6rem;
    padding-inline: 1.5rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.jumbo_item {
    flex: 0 1 calc((100% - 3rem) / 3);
    border-radius: 1.5rem;
    padding-top: 2.5rem;
    padding-inline: 1.5rem;
    text-align: center;
    background-color: var(--uranian-blue);
}

.jumbo_item.big {
    flex: 0 0 calc((100% + 1.5rem) / 3 * 2 - 1.5rem);
    display: flex;
    flex-wrap: wrap;
    text-align: start;
}

@media (max-width: 810px) {
    .jumbo_item, .jumbo_item.big {
        padding-inline: 1rem;
    }
}

@media (max-width: 627px) {
    .jumbo_item {
        flex: 1 0 0;
    }
}

@media (max-width: 445px) {
    .jumbo_item.big {
        flex: 1 0 0;
    }
}

.jumbo_item h2 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    color: var(--azure);
}

.jumbo_item p {
    line-height: 1.7;
    margin-bottom: 2rem;
    color: #333333;
}

.jumbo_info {
    flex: 0 0 50%;
    margin-bottom: 2rem;
}

@media (max-width: 810px) {
    .jumbo_info {
        flex: 0 0 100%;
    }
}

.jumbo_info .btn_large {
    width: max-content;
    font-size: 20px;
}

.jumbo_info .btn_large a {
    letter-spacing: 3px;
    background-color: var(--azure);
    color: white;
}

.jumbo_info .btn_large a:hover {
    background-color: #2d9aff;
}

.jumbo_img {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.jumbo_img img {
    display: block;
    height: 250px;
}

@media (max-width: 375px) {
    .jumbo_img {
        flex: 0 0 100%;
    }
}

.jumbo_item .icon i {
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
    color: var(--azure);
}